<div class="center jumbotron">
<% provide(:title, "About") %>
<h1>About</h1>
<p>
Are you looking to rent a bike in Dublin? Well then this is the app for you.  Sign up now, to get your bike adventure in Dublin spinning.
</p>
</div>
<%= image_tag("logos/love2cycle.png", alt: "love2bike")%> 
