<div class="center jumbotron">
<% provide(:title, "Home") %>
<h1>Home</h1>
<p>
  This is the home page for the Dublin Bikes Application.
</p>
</div>
<%= image_tag("bikes/welcome.jpg", alt: "Welcome logo")%> 